<section class="content-header">
    <h1>
        {{ 'media'|trans|capitalize }}
    </h1>
    <ol class="breadcrumb">
        <a class="btn btn-xs btn-default" href="{{ path('admin_gallery') }}">
            Galleries
        </a>
        <a class="btn btn-xs btn-default" href="{{ path('admin_media') }}">
            Medias
        </a>
    </ol>
</section>
